.heading{
    color: #67bd91;
    margin-bottom: 25px;
    margin-left: 20px;
}

.navigation{
    color: black;   
    margin-left: 20px;    
}

.banner{
    background-color: #e6e6e6;
    height: 400px;
    width: 100%;
    margin-top: 20px;
}

.banner-image{
    height: 315px;
    width: inherit;
    margin-top: 45px;
    margin-left: 20px;
    border: 5px solid white;
}

.banner-right{
    margin-left: 20px;
    margin-top: 111px;
}



.section-top{
    margin-left: 225px;
    margin-top: 20px;
}

.section-top>h6{
    display: inline-block;
}

.section-top>input{
    width: 250px;
    display: inline;
}