.heading{
    color: #67bd91;
    margin-bottom: 25px;
    margin-left: 20px;
}

.navigation{
    color: black;   
    margin-left: 20px;    
}

.banner{
    background-color: #e6e6e6;
    height: 400px;
    width: 100%;
    margin-top: 20px;
}

.banner-image{
    height: 310px;
    width: 520px;
    margin-top: 45px;
    margin-right: 20px;
    border: 7px solid white;
}